+++
banner = "forestryio/images/thetower.jpg"
date = "2015-10-13T23:12:00+00:00"
description = "Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor."
title = "About"
type = "about"
[menu.main]
weight = 3

+++
<p class="">The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p><p class=""><br></p><img src="/forestryio/images/17124636658_0054a9025c_b.jpg"><p></p><p>To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could one dream of anything more?</p><p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p><p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>